################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/javtool/.vs
/javtool/javtool/bin
/javtool/javtool/wwwroot/lib
/javtool/javtool/obj/Debug
/JavCrawl/JavCrawl/bin
/JavCrawl/JavCrawl/obj
/JavCrawl/.vs
/JavCrawl/JavCrawl/wwwroot/Uploads
/JavCrawl/JavCrawl/*.user
/JavCrawl/JavCrawl/Properties/PublishProfiles
/javmile.com/public_html/storage/logs
/javmile.com/public_html/app/Policies/*.gitkeep
/crawler.javmile.com
/YTCommenter/.vs
/YTCommenter/packages
/YTCommenter/YTCommenter/bin
/YTCommenter/YTCommenter/obj
/SshChecker/packages
/SshChecker/.vs
/SshChecker/SshChecker/obj
/SshChecker/SshChecker/bin
/HighLights.Web/HighLights.Web/bin
/HighLights.Web/HighLights.Web/obj
/HighLights.Web/.vs
/SshChecker/SshChecker.sln.DotSettings.user
