@{
    ViewData["Title"] = "Home Page";
}
@model JavCrawl.Models.JavHiHiMovies
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <br />
        <br />
        <span>Link:</span>
        <br />
        <input style="width: 100%; max-width:none; margin-bottom:5px;" type="url" name="link" placeholder="http://javhihi.com/movie?sort=published&page=137&ajax=1" />
        
        <br />
        <input type="submit" value="Crawl Now" />
    }
    <ul>
        <li>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Err)) { 
            <b>@ViewBag.Err</b>
            }
            <b>@ViewBag.Number Has Crawl Successful.</b>
            <hr />
            <hr />
        </li>
        @if (Model.movies != null)
        {
            @foreach (var mov in Model.movies)
            {
                <li>
                    @mov.name
                </li>
            }
        }
        
    </ul>
</div>
