/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 75px;
    padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        padding-top: 125px;
    }
}

a, a:active {
    color: #111;
    text-decoration:none;
}

    a:hover {
        color: #d61b1b;
        text-decoration: none;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

    .body-content > h1 {
        margin-bottom: 30px;
    }
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.match a, .navbar-inverse .navbar-nav > li > a {
    color: #111;
    text-decoration: none;
}
.match:hover a, .navbar-inverse .navbar-nav > li > a:hover {
    color: #d61b1b;
    text-decoration: none;
}

.item-title-block {
    padding-bottom: 5px
}

    .item-title-block > .title {
        max-width: 334px;
        margin-left: auto;
        margin-right: auto;
        min-height: 110px;
    }

.navbar, .container > .navbar-header {
    min-height: 75px;
}

.navbar .logo {
    max-height: 70px;
}

.navbar-inverse {
    background-color:#eee;
    border-color: #eee;
}

.navbar-toggle {
    margin-top: 19px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#888;
}
@media (min-width: 768px) {
    .navbar-nav {
        margin-top:24px;
    }
}

.match-detail {
    margin-bottom: 13px;
}

.formation {
    font-size:10px;
}

    .formation > .formation-item {
        margin-bottom: 3px;
    }
        .formation > .formation-item > .glyphicon.glyphicon-triangle-bottom:before {
            color: #d61b1b;
        }
        .formation > .formation-item > .number {
            background-color: #800;
            color: #fff;
            font-weight: 600;
            width: 18px;
            height: 18px;
            border-radius: 14px;
            display: inline-block;
            padding-left: 1px;
            padding-top: 0px;
            line-height: 18px;
            margin-bottom: 3px;
        }
            .formation > .formation-item > .number.background-blue {
                background-color: #0c7cd5;
            }
            .formation > .formation-item > .name {
                display: inline-block;
            }

    .formation > .formation-sub-item {
        margin-bottom: 3px;
    }
        .formation > .formation-sub-item > .glyphicon.glyphicon-triangle-top:before {
            color: forestgreen;
        }
        .formation > .formation-sub-item > .min {
            display: inline-block;
        }

        .formation > .formation-sub-item > .sub-number {
            background-color: #800;
            color: #fff;
            font-weight: 600;
            width: 18px;
            height: 18px;
            border-radius: 14px;
            display: inline-block;
            padding-left: 1px;
            padding-top: 0px;
            line-height: 18px;
            margin-bottom: 3px;
        }

            .formation > .formation-sub-item > .sub-number.background-blue {
                background-color: #0c7cd5;
            }

            .formation > .formation-sub-item > .sub-name {
                display: inline-block;
            }


#video-wapper {
    margin-top: 15px;
}