<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LinkDownloadSSH" value="https://bitsocks.us/APIv2?token=c43c0f855ffdb64604016fd29684ba46&amp;code=ALL&amp;format=txt"/>
    <add key="LinkDownloadSSH2" value="http://ssh.t-mmo.com/APIv3/?token=b778e0f85b8c7e65973ca58b6d6dc05a&amp;code=ALL&amp;type=TXT&amp;size=0"/>
    <add key="Mix2SSHProvice" value="true"/>
    <!-- 9hits -->
    <add key="Mix2SSHProvice" value="true"/>
    <add key="NumberVPS" value="52"/>
    <add key="SSHFolderBase" value="C:\AutoIt\9hits"/>
    <add key="SSHFolderBackup" value=""/>
    <add key="SSHFolderBackup2" value=""/>
    <add key="LinkUpdateSSH" value="http://cdn.javmile.com/9hits"/>
    <add key="SSHSplit" value="C:\AutoIt\9hits\SSHSplit"/>
    <!-- Lol bot -->
    <add key="EnableLolBot" value ="true"/>
    <add key="LolbotSSHMain" value="2"/>
    <add key="Mix2SSHProvice2" value="false"/>
    <add key="NumberVPS2" value ="52"/>
    <add key="LolbotFolderBase" value ="C:\AutoIt\bot"/>
    <!-- Ftp -->
    <add key="FtpServer" value="194.48.152.20"/>
    <add key="FtpUser" value="javmile"/>
    <add key="FtpPassword" value="Thuyng@123"/>
    <add key="Ftp9HitPatch" value="9hits"/>
    <add key="FtpLolbotPatch" value="bot"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
