<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NumberVPS" value="38"/>
    <add key="LinkDownloadSSH" value="https://bitsocks.us/APIv2?token=c43c0f855ffdb64604016fd29684ba46&amp;code=ALL&amp;format=txt"/>
    <add key="SSHFolderBase" value="C:\AutoIt\9hits"/>
    <add key="SSHFolderBackup" value="C:\AutoIt\9hits\Backup"/>
    <add key="LinkUpdateSSH" value="http://cdn.javmile.com/9hits"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
