@page "{slug}/{currentPage?}"
@model Football.Show.Pages.LeagueModel
@{
    ViewData["Title"] = Model.PagingResult.PageTitle;
}

<h1>@Model.PagingResult.PageTitle</h1>

@await Html.PartialAsync("_ViewMatch", Model.PagingResult)

